<mat-card>
    <h2>Update Quiz</h2>

    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 offset-md-1">
                    <form class="example-form" [formGroup]="updateQuizForm">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Title</mat-label>
                            <input matInput required type="text" placeholder="Enter title here" formControlName="title">
                        </mat-form-field>
                      
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="textarea" required placeholder="Enter description here" formControlName="description"></textarea>
                          </mat-form-field>

                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                 <mat-form-field class="example-full-width" appearance="fill">
                                 <mat-label>Max Marks</mat-label>
                                 <input matInput required type="number" placeholder="Enter marks here" formControlName=maxMarks>
                                 </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Number Of Questions</mat-label>
                                    <input matInput required type="number" placeholder="Enter number of questions here" formControlName="numberOfQuestions">
                                    </mat-form-field>
                            </div>
                        </div>
                        <mat-slide-toggle formControlName="active">Publish status
                        </mat-slide-toggle>

                        <mat-form-field class="example-full-width" appearance="fill"  style="margin-top: 15px;" formGroupName="category">
                            <mat-label>Select category</mat-label>
                            <mat-select formControlName="cId">
                                <mat-option *ngFor="let option of categoriesData" [value]="option.cId" >
                                    {{option.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-card-actions class="text-center" style="margin-bottom: -2px; margin-top: -10px; margin-right: 50px;">
                            <button mat-raised-button color="primary" type="submit" (click)="UpdateSubmit(updateQuizForm)">Update</button>
                        </mat-card-actions>
                          
                    </form>
                </div>
            </div>
        </div>
    </div>
</mat-card>
